<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/bootstrap4-neon-glow.css">
    <style>
        #password-storage-form,
        #password-request-form {
            display: none;
        }
    </style>
</head>
<body>
    <h2>Bienvenido a tu Password Manager!</h2>

    <button id="show-password-storage-form">Add Password</button>

    <form method="POST" action="/store_password" id="password-storage-form">
        <label for="app-name">New Website/App Name: <span class="required">*</span></label>
        <input type="text" name="app-name" required><br>
        
        <label for="password">New Password: <span class="required">*</span></label>
        <input type="password" name="password" required><br>
            
        <input type="submit" value="Store Password">
    </form>

    <button id="show-password-request-form">Get Password</button>

    <form method="GET" action="/get_password" id="password-request-form">
        <label for="website-name">Website Name: <span class="required">*</span></label>
        <input type="text" name="website-name" required><br>
        <input type="submit" value="Get Password">
    </form>
        
    <button id="show-password-button" style="display: none;">Show Password</button>

    <div id="decrypted-password-container" style="display: none;"></div>
    
    <form action="/logout" method="get">
        <input type="submit" value="Logout">
    </form>

    <script src="/static/js/dashboard.js"></script>

</body>
</html>
