<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/bootstrap4-neon-glow.css">
</head>
<body>
    <h2>Sign up</h2>
    <form method="POST" action="/signup">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <input type="submit" value="Sign up">
    </form>
    <button id="login-button">
        Log in
    </button>
    <script src="/static/js/signup.js"></script>
</body>
</html>
